## Used by "base_exim.rb"
exim:
  aliases:
    "root": "my@email.addr"
    "bubba": "their@email.addr"
## Used by "base_postgresql.rb"
postgresql:
  accounts:
    "myuser":
      password: "mypassword"
      superuser: true
## Used by "base_mysql.rb"
mysql:
  accounts:
    "myuser":
      password: "mysecret"
      superuser: true
